* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'oswald', sans-serif;
}

h1 {
  font-family: 'Lilita One', cursive;
  margin: 5px;
  color: #253651;
}

h2 {
  font-family: 'Lilita One', cursive;
  font-size: 40px;
  margin: 5px;
  color: #253651;
}

h3  {
  font-family: 'oswald', sans-serif;
  font-size: 15px;
  color: #253651;
}

nav {
  height: 120px;
}

nav ul a {
  font-size: 20px;
  font-weight: bolder;
}

.nav-wrapper{
  background-color: #535869;
}

p {
  font-size: 15px;
}







